<div class="search">
  <form aria-label="{{form.label}}" action="{{form.action}}" method="{{form.method}}">
    <label for="{{label.for}}" class="visually-hidden">{{label.text}}</label>
    <input id="{{input.id}}" type="{{input.type}}" class="search__input">
    <button type="{{button.type}}" class="search__submit">
      <span class="visually-hidden">{{button.text}}</span>
      <!--SVG-->
      <span></span>
    </button>
  </form>
</div>
